<html>
	<head>
		<style>
		button{display: block;}
    canvas{margin: 10px;}
		</style>
  </head>
  <body>
	<button onclick="pitchDetector.startLiveInput()">Sing It!</button>
    <canvas id="myCanvas"></canvas>
    Your PeerJS id is : <span id="pid"></span><br><br>
    Connect to peer: <input type="text" id="rid" placeholder="Someone else's id">
                   <input type="button" value="Connect" id="connect"><br><br>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script type="text/javascript" src="/public/js/processing.js"></script>
    <script src="http://cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js"></script>
    <script type="text/javascript" src="/public/js/pitchdetect.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/withu.js"></script>
    <script type="text/javascript" src="/public/js/class.js"></script>
    <script type="text/javascript" src="/public/js/potato.js"></script>
  </body>
</html>