<html>
	<head>
		<style>
		button{display: block;}
    #myCanvas{
      margin: 10px;
      z-index: -1;
    }
    #wrapper{
      width: 1200px;
    }
    #over{
      position: relative;
      color: yellow;
      font-size: 100px;
      width: 100%;
      text-align: center;
      margin: -400px auto;
      z-index: 0;
    }
    #word{
      margin: 10px;
    }
		</style>
  </head>
  <body>
	  <div id="wrapper">
      <canvas id="myCanvas"></canvas>
      <p id="over">GAME OVER</p>
      <div id="word">
      Your PeerJS id is : <span id="pid"></span><br><br>
      Connect to peer: <input type="text" id="rid" placeholder="Someone else's id">
                       <input type="button" value="Connect" id="connect"><br><br>
      </div>
    </div>
    <audio id="somebodyVoice"></audio>
    <script type="text/javascript" src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script type="text/javascript" src="/public/js/processing.js"></script>
    <script type="text/javascript" src="http://cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js"></script>
    <script type="text/javascript" src="/public/js/pitchdetect.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/withu.js"></script>
    <script type="text/javascript" src="/public/js/class.js"></script>
    <script type="text/javascript" src="/public/js/potato.js"></script>
  </body>
</html>